[Unit]
Description=Go http file server
After=network.target

[Service]
Type=simple
ExecStartPre=/sbin/setcap CAP_NET_BIND_SERVICE=+ep /usr/local/bin/ghfs
ExecStart=/sbin/runuser -u nobody -- /usr/local/bin/ghfs --config=/etc/ghfs_%I.conf
# ExecStart=/sbin/runuser -u nobody -- sh -c 'GHFS_CPU_PROFILE_FILE=/var/log/cpu-`date +%%F-%%T`.pprof exec /usr/local/bin/ghfs --config=/etc/ghfs_%I.conf'
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGTERM
KillMode=process

[Install]
WantedBy=multi-user.target
