<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
	<meta name="viewport" content="width=device-width,user-scalable=no">
	<meta name="format-detection" content="telephone=no,date=no,email=no,address=no">
	<meta name="renderer" content="webkit">
	<title>{{.Path}}</title>
	<link rel="shortcut icon" type="image/x-icon" href="{{.RootRelPath}}?asset=favicon.ico">
	<link rel="stylesheet" type="text/css" href="{{.RootRelPath}}?asset=index.css">
</head>
<body class="{{if .IsRoot}}root-dir{{else}}sub-dir{{end}}">
{{$contextQueryString := .Context.QueryString -}}
{{$SubItemPrefix := .SubItemPrefix -}}
{{$canSelect := and (or .CanArchive .CanDelete) (len .SubItemsHtml) -}}
{{if not .IsSimple -}}
<ol class="path-list" translate="no">
	{{range .Paths -}}
	<li><a href="{{.Path}}{{$contextQueryString}}">{{fmtFilename .Name}}</a></li>
	{{end -}}
</ol>
{{if .LoginAvail -}}
<a class="login" href="{{if ne .Status 401}}{{.RootRelPath}}?auth={{.Path}}{{$contextQueryString}}{{end}}">{{.Trans.LoginLabel}}</a>
{{else if .AuthUserName -}}
<span class="login">[{{.AuthUserName}}]</span>
{{end -}}
{{if .CanUpload -}}
<div class="upload-status">
	<span class="label info">
		<span class="content">{{.Trans.UploadingLabel}}</span>
	</span>
	<span class="label warn">
		<span class="content">{{.Trans.UploadFailLabel}}<span class="message"></span></span>
	</span>
	<span class="progress"></span>
</div>
{{end -}}

{{if .CanMkdir -}}
<div class="panel mkdir">
	<form method="POST" action="{{.SubItemPrefix}}?mkdir">
		<input type="text" autocomplete="off" name="name" class="name">
		<input type="hidden" name="contextquerystring" value="{{$contextQueryString}}">
		<button>{{.Trans.MkdirLabel}}</button>
	</form>
</div>
{{end -}}

{{if .CanUpload -}}
<script>
	function showUploadDirFailMessage() {
		alert('{{.Trans.UploadDirFailMessage}}');
	}
</script>
<div class="tab upload-type">
	<button class="file active" title="{{.Trans.UploadFilesHint}}">{{.Trans.UploadFilesLabel}}</button>
	{{if .CanMkdir}}<button class="dirfile" title="{{.Trans.UploadDirHint}}">{{.Trans.UploadDirLabel}}</button>
	<button class="innerdirfile" title="{{.Trans.UploadDirContentsHint}}">{{.Trans.UploadDirContentsLabel}}</button>{{end}}
</div>
<div class="panel upload">
	<form method="POST" action="{{.SubItemPrefix}}?upload" enctype="multipart/form-data">
		<h4>{{.Trans.UploadFilesHint}}</h4>
		<input type="file" name="file" multiple="multiple">
		<input type="hidden" name="contextquerystring" value="{{$contextQueryString}}">
		<button>{{.Trans.UploadLabel}}</button>
	</form>
</div>
{{end -}}
{{end -}}
<form method="POST" class="entry-form">
{{if and $canSelect (not .IsSimple)}}
<div class="action-list">
	{{if .CanArchive}}
	<button class="archive" title="{{.Trans.ArchiveLabel}} .tar" formaction="{{.SubItemPrefix}}?tar">.tar</button>
	<button class="archive" title="{{.Trans.ArchiveLabel}} .tgz" formaction="{{.SubItemPrefix}}?tgz">.tgz</button>
	<button class="archive" title="{{.Trans.ArchiveLabel}} .zip" formaction="{{.SubItemPrefix}}?zip">.zip</button>
	{{end}}
	{{if .CanDelete}}
	<script>
		function confirmDelete() {
			return confirm('{{.Trans.DeleteConfirm}}');
		}
	</script>
	<button class="delete" title="{{.Trans.DeleteLabel}}" formaction="{{.SubItemPrefix}}?delete" disabled>{{.Trans.DeleteLabel}}</button>
	{{end}}
</div>
{{end}}
<ul class="entry-list">
	{{if not .IsSimple -}}
	<li class="header">{{$dirSort := .SortState.DirSort}}{{$sortKey := .SortState.Key}}
		<div class="detail">
		<a class="field dir" href="{{.SubItemPrefix}}{{.Context.QueryStringOfSort .SortState.NextDirSort}}">{{.Trans.ListDirLabel}}{{if eq $dirSort -1}}&uarr;{{else if eq $dirSort 1}}&darr;{{end}}</a>
		<a class="field name" href="{{.SubItemPrefix}}{{.Context.QueryStringOfSort .SortState.NextNameSort}}">{{.Trans.ListNameLabel}}{{if eq $sortKey "n"}}&uarr;{{else if eq $sortKey "N"}}&darr;{{end}}</a>
		<div class="filter">
			<label><input type="text" autocomplete="off" spellcheck="false" accesskey="r" placeholder="{{.Trans.FilterLabel}}"></label>
			<button type="button">X</button>
		</div>
		<a class="field type" href="{{.SubItemPrefix}}{{.Context.QueryStringOfSort .SortState.NextTypeSort}}">{{.Trans.ListTypeLabel}}{{if eq $sortKey "e"}}&uarr;{{else if eq $sortKey "E"}}&darr;{{end}}</a>
		<a class="field size" href="{{.SubItemPrefix}}{{.Context.QueryStringOfSort .SortState.NextSizeSort}}">{{.Trans.ListSizeLabel}}{{if eq $sortKey "s"}}&uarr;{{else if eq $sortKey "S"}}&darr;{{end}}</a>
		<a class="field time" href="{{.SubItemPrefix}}{{.Context.QueryStringOfSort .SortState.NextTimeSort}}">{{.Trans.ListTimeLabel}}{{if eq $sortKey "t"}}&uarr;{{else if eq $sortKey "T"}}&darr;{{end}}</a>
		</div>
		{{if $canSelect}}<button type="button" class="toggle-select" title="{{.Trans.ToggleSelectLabel}}"></button>{{end}}
	</li>
	<li class="parent">
		<a href="{{if .IsRoot}}./{{else}}../{{end}}{{$contextQueryString}}" class="detail">
		<span class="field name" translate="no">../</span>
		<span class="field size"></span>
		<span class="field time"></span>
		</a>
		{{if $canSelect}}<label class="select" title="{{.Trans.SelectAllLabel}}"><input type="checkbox" class="select-all"></label>{{end}}
	</li>
	{{end -}}
	{{range .SubItemsHtml -}}
	<li class="{{.Type}}">
		<a href="{{.Url}}" class="detail">
		<span class="field name" translate="no">{{.DisplayName}}</span>
		<span class="field size">{{.DisplaySize}}</span>
		<span class="field time">{{.DisplayTime}}</span>
		</a>
		{{if $canSelect}}<label class="select"><input type="checkbox" name="name" value="{{.Name}}"></label>{{end}}
	</li>
	{{end -}}
</ul>
</form>

{{if ne .Status 200}}<div class="error">{{.Status}}
{{if eq .Status 401 -}}
  {{.Trans.Error401 -}}
{{else if eq .Status 403 -}}
  {{.Trans.Error403 -}}
{{else if eq .Status 404 -}}
  {{.Trans.Error404 -}}
{{else -}}
  {{.Trans.ErrorStatus -}}
{{end}}</div>{{end}}

<script type="module" src="{{.RootRelPath}}?asset=index.js" async="async"></script>
</body>
</html>
