html, body {
	margin: 0;
	padding: 0;
	background: #fff;
}

body {
	color: #333;
	font-size: 0.625em;
	font-variant-ligatures: none;
	font-variant-numeric: tabular-nums;
	font-kerning: none;
	text-size-adjust: none;
	hyphens: none;
	padding-bottom: 2em;
}

body, input, textarea, button {
	font-family: "Cascadia Mono", Consolas, "Lucida Console", "San Francisco Mono", Menlo, Monaco, "Andale Mono", "DejaVu Sans Mono", "Jetbrains Mono NL", monospace;
}

form, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol, li {
	display: block;
	margin: 0;
	padding: 0;
}

a {
	display: block;
	padding: 0.5em;
	color: #000;
	text-decoration: none;
	outline: 0;
}

a:hover {
	background: #f5f5f5;
}

a:focus {
	background: #fffae0;
}

a:hover:focus {
	background: #faf7ea;
}

input, button {
	min-width: 0;
	margin: 0;
	padding: 0.25em 0;
}

input[type=text] {
	padding: 0.25em;
}

input[type=button], input[type=submit], input[type=reset], button {
	padding: 0.25em 0.5em;
}

input[type=button]:enabled,
input[type=submit]:enabled,
input[type=reset]:enabled,
input[type=file]:enabled,
button:enabled,
label {
	cursor: pointer;
}

em {
	font-style: normal;
	font-weight: normal;
	padding: 0 0.2em;
	border: 1px #ddd solid;
	border-radius: 3px;
}

.none {
	display: none;
}

.hidden {
	visibility: hidden;
}


html::before {
	display: none;
	content: '';
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0.7;
	background: #c9c;
}

html.dragging::before {
	display: block;
}


.path-list {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.5em;
	line-height: 1.2;
	border-bottom: 1px #999 solid;
}

.path-list li {
	display: flex;
}

.path-list li a {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 1em;
	word-break: break-all;
}

.path-list li:not(:last-child) a {
	padding-right: 1.2em;
}

.path-list li:not(:last-child) a:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0.5em;
	width: 0.4em;
	height: 0.4em;
	border: 1px solid;
	color: #ccc;
	border-color: currentColor currentColor transparent transparent;
	transform: rotate(45deg) translateY(-50%);
}

.login {
	position: absolute;
	z-index: 1;
	right: 0;
	padding: 0.5em 1em;
}

.tab {
	display: flex;
	gap: 0.5em;
	white-space: nowrap;
	margin: 1em 1em 0 1em;
}

.tab button {
	flex: 0 0 auto;
	appearance: none;
	outline: 0;
	border: 0;
	padding: 0.5em 1em;
	color: inherit;
	background: inherit;
}

.tab button:focus {
	text-decoration: underline 1px dotted;
}

.tab button:hover {
	background: #fbfbfb;
}

.tab button.active {
	color: #000;
	background: #f7f7f7;
}

.panel {
	margin: 1em;
	padding: 1em;
	background: #f7f7f7;
}

.tab + .panel {
	margin-top: 0;
}

.upload-status {
	visibility: hidden;
	position: sticky;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 4px;
	margin-bottom: -4px;
	background: rgba(204, 153, 204, 0.1);
	pointer-events: none;
}

.upload-status.uploading,
.upload-status.failed {
	visibility: visible;
}

.upload-status .label {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	color: #fff;
	opacity: 0;
	transition: transform .2s, opacity .2s;
}

.upload-status .label .content {
	position: relative;
	padding: 0.5em 1em;
	line-height: 1em;
	box-sizing: border-box;
	word-break: break-all;
}

.upload-status .info .content {
	padding-left: 2.5em;
	background: rgba(204, 153, 204, 0.8);
}

@keyframes wheel {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.upload-status .info .content:before,
.upload-status .info .content:after {
	content: '';
	position: absolute;
	left: 1em;
	top: 0.5em;
	width: 1em;
	height: 1em;
	box-sizing: border-box;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	animation: wheel 1s linear infinite;
}

.upload-status .info .content:after {
	border-color: currentColor transparent transparent transparent;
}

.upload-status .warn .content {
	background: rgba(128, 0, 0, 0.8);
}

.upload-status.uploading .info,
.upload-status.failed .warn {
	opacity: 1;
	transform: translateY(25%);
}

.upload-status .progress {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	background: #c9c;
}

.upload-form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 0.5em;
}

.archive {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	margin: 1em;
	padding: 0 0.5em;
}

.archive a {
	position: relative;
	padding: 1em 1em 1em 3em;
	border: 2px #f5f5f5 solid;
}

.archive a:hover {
	border-color: #ddd;
}

.archive a:before {
	content: '';
	position: absolute;
	left: 1.1em;
	top: 1em;
	height: 1em;
	width: 3px;
	background: #aaa;
}

.archive a:after {
	content: '';
	position: absolute;
	left: 0.6em;
	top: 1em;
	width: 0.5em;
	height: 0.5em;
	margin-left: 1px;
	border: 3px #aaa solid;
	border-top-color: transparent;
	border-left-color: transparent;
	transform: rotate(45deg);
}

.mkdir form {
	display: flex;
	align-items: center;
}

.mkdir .name {
	flex: 1 1 auto;
}

.entry-list {
	margin: 1em;
	line-height: 1.2;
}

.entry-list li {
	position: relative;
}

.entry-list a {
	padding: 0.6em;
}

.entry-list .detail,
.entry-list .delete {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	border-bottom: 1px #f5f5f5 solid;
	overflow: hidden;
}

.entry-list .detail {
	gap: 1em;
}

.entry-list.has-deletable .detail {
	padding-right: 2.2em;
}

.entry-list.has-deletable .delete {
	align-self: stretch;
}

.entry-list .field {
	flex-shrink: 0;
}

.entry-list .name {
	flex: 1 1 0;
	margin-left: 0;
	font-size: 1.5em;
	white-space: pre-wrap;
	word-break: break-all;
}

.entry-list .size {
	white-space: nowrap;
	text-align: right;
	color: #666;
}

.entry-list .size:empty {
	display: none;
}

.entry-list .time {
	color: #999;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
}

.entry-list .delete {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: stretch;
}

.entry-list .delete button {
	border: 0;
	color: #800000;
	background: none;
	font-weight: bold;
	font-size: 1.6em;
	line-height: 1em;
	padding: 0.1875em 0.3125em 0.3125em;
}

.entry-list .delete button:hover {
	background: #fee;
}

.entry-list .header .detail {
	gap: 0;
	background: #fcfcfc;
}

.entry-list .header .field {
	display: inline-block;
	font-size: 1.5em;
	color: #808080;
	overflow: hidden;
}

.entry-list .header .name {
	flex: 0 0 auto;
}

.entry-list .header .filter {
	flex: 1 1 0;
	align-self: stretch;
	display: flex;
	position: relative;
}

.entry-list .header .filter label {
	flex: 1 1 0;
	display: flex;
	align-items: center;
	padding: 0 0.5em;
}

.entry-list .header .filter label input {
	flex: 1 1 0;
	width: 0;
}

.entry-list .header .filter label input:placeholder-shown {
	opacity: 0.4;
}

.entry-list .header .filter label input:focus {
	opacity: 1;
}

.entry-list .header .filter button {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0 1em;
	border: 0;
	appearance: none;
	color: inherit;
	background: none;
}

.entry-list .header .time {
	width: 6.5em;
	text-align: center;
}

.error {
	margin: 1em;
	padding: 1em;
	background: #ffc;
}

@media screen and (prefers-color-scheme: light) {
	html {
		color-scheme: light;
	}
}

@media screen and (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	html, body {
		background: #111;
	}

	body {
		color: #ccc;
	}

	a {
		color: #ddd;
	}

	a:hover {
		background-color: #333;
	}

	a:focus {
		background-color: #330;
	}

	a:hover:focus {
		background-color: #33331a;
	}

	em {
		border-color: #555;
	}

	.path-list li:not(:last-child) a:after {
		color: #555;
	}

	.tab button:hover {
		background-color: #181818;
	}

	.tab button.active {
		color: #fff;
		background-color: #222;
	}

	.panel {
		background-color: #222;
	}

	.archive a {
		border-color: #222;
	}

	.archive a:hover {
		border-color: #555;
	}

	.entry-list .detail,
	.entry-list .delete {
		border-bottom-color: #222;
	}

	.entry-list .size {
		color: #999;
	}

	.entry-list .time {
		color: #666;
	}

	.entry-list .delete button {
		color: #f99;
	}

	.entry-list .delete button:hover {
		background-color: #433;
	}

	.entry-list .header .detail {
		background-color: #181818;
	}

	.error {
		background: #663;
	}
}

@media screen and (max-width: 450px) {
	.entry-list .header .time {
		width: 4.05em;
	}
}

@media screen and (max-width: 375px) {
	.entry-list .header .filter {
		display: none;
	}

	.entry-list .header .name {
		flex: 1 1 0;
	}

	.entry-list .detail .time span {
		display: none;
	}
}

@media screen and (max-width: 350px) {
	.entry-list .detail .time {
		display: none;
	}
}

@media print {
	.login, .panel, .tab, .archive {
		display: none;
	}

	.entry-list {
		margin-left: 0;
		margin-right: 0;
	}

	.entry-list .header .name {
		flex: 1 1 auto;
	}

	.entry-list .header .filter {
		display: none;
	}

	.entry-list li {
		break-inside: avoid;
	}

	.entry-list li.parent {
		display: none;
	}

	.entry-list.has-deletable .detail {
		padding-right: 0;
	}

	.entry-list.has-deletable .delete {
		display: none;
	}
}
